@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$breakpoint-tablet: 768px;

$cinza: #eee;

$roundness: 10px;
html,body{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 2rem;
}
.link{
    color: #000;
    text-decoration: none;
    transition: .2s ease;
    background-color: $cinza;
    padding: 5px;
    &:hover{
        background-color: #000;
        color: #fff;
    }
}
section{
    padding: 3%;
    @media (min-width: $breakpoint-tablet) {
        padding: 3% 15%;
    }
    &#header{
        img{
            @media (min-width: $breakpoint-tablet) {
                margin-left: -75px;
            }
        }
        h1{
            font-size: 3rem;
            span{
                font-weight: 400;
                color: darken($cinza, 60%);
                display: block;
                font-size: 1.2rem;
            }
        }
    }
    &#intro{
        padding: 2%;
        @media (min-width: $breakpoint-tablet) {
            padding: 2% 15%;
        }
        .container{
            background-color: $cinza;
            
            display: block;
            padding: 2rem;
            @media (min-width: $breakpoint-tablet) {
                display: grid;
                grid-template-areas: 'sobre texto texto';
                grid-gap: 3rem;
                padding: 3rem;    
            }
            .title{
                grid-area: sobre;
            }
            .text{
                @media (min-width: $breakpoint-tablet) {
                    border-left: 2px solid #000;
                    padding: 0 2rem;
                }
                
                grid-area: texto;
            }
        }
    }
    &#eventos{

    }
    &#projetos{
        .container{
            
            display: grid;
            grid-template-areas: 'auto';
            grid-gap: 1rem;
            padding: 0rem;
            @media (min-width: $breakpoint-tablet) {
                grid-template-areas: 'auto auto auto';
            }
            div{
                background-color: $cinza;
                border-radius: $roundness;
                padding:.5rem 2.5rem;                
                border: 2px solid $cinza;
                border-left: 6px solid $cinza;
                transition: .2s ease;
                &:hover{
                    background-color: #fff;
                    border-left: 6px solid;
                    transform: scale(1.02);
                    z-index: 9;
                    &#portugol{
                        border-left-color: #d6c103;
                    }
                    &#nya{
                        border-left-color: #ec0b56;
                    }
                    &#synt{
                        border-left-color: #0aebc5;
                    }
                    &#castle{
                        border-left-color: #e92f2f;
                    }
                    &#dali{
                        border-left-color: #2374dd;
                    }
                }
                h3{
                    font-size: 1.2rem;
                    a{
                        text-decoration: none;
                        color: #000;
                    }                    
                }
            }
        }
    }
    &#academico{

    }
}
footer{
    text-align: center;
    border-top: 1px solid #000;
    margin: 10px 15%;
    padding: 20px 0;
    img{
        opacity: 0.8;
    }
    .heart{
        color: #ec0b56;
        font-size: 1.3rem;
    }
}

