@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$star-number: 60;
$current-stars: 1;

$primary: #000e3c;
$secondary: #32988a;
$aurora-white: #a1d9b4;
$nonblack: #474747;
$black: #000;
$light-bg: #f2f2f2;
$white: #fff;

$breakpoint-tablet: 768px;

html{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
body{
  margin: 0;
  color: $nonblack;
  font-weight: 500;
  background-image: url('./img/header.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}
section{
  display: block;
  padding: 2% 15%;
}
h1, h2, h3, h4{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: $black;
}
h1{
  color: #000;
}
.nav{
  padding: 5% 10%;
  padding-bottom: 1%;
  img{
    background: $white;
    padding: 0.5rem;
    border-radius: 20px;
  }
}
.header{
  
  h1{
    line-height: 1.2;
    font-size: 3.5rem;
    letter-spacing: -2px;
  }
}
a{
  color: $primary;
  &:hover{
    color: lighten($primary, 20);
  }
}
.rolltop{
  transition: 0.2s;
  z-index: 10;
  position: fixed;
  right: 0; 
  bottom: 20px;
  padding: 20px;
  
  border-radius: 20px 0 0 20px;
  .icontop{
    display: block;
    font-size: 1.5rem;
    color: $black;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  }
  @media (min-width: $breakpoint-tablet) {
    bottom: 30px;
    padding: 30px;
  }
}
.social{
  transition: 0.2s;
  z-index: 10;
  position: fixed;
  right: 0; 
  background-color: $black;
  top: 30px;
  padding: 5px 10px;
  padding-right: 10px;
  border-radius: 20px 0 0 20px;
  &:hover{
    padding-right: 20px;
  }
  .social-link{
    display: block;
    font-size: 1.5rem;
    color: $white;
    &:hover{
      .fa-github{
        color: #ccc;
      }
      .fa-twitter{
        color: #1da1f2;
      }
      .fa-linkedin-in{
        color: #0073b1;
      }   
    }
  }
  @media (min-width: $breakpoint-tablet) {
    top: 30px;
    padding: 10px 20px;
    padding-right: 20px;
    &:hover{
      padding-right: 40px;
    }
    .social-link{
      font-size: 2.5rem;
    }
  }
  
}
#intro{
  padding-top: 5rem;
  .bg-light{
    background-color: $light-bg !important;
    padding: 5%;
    h3{
      color: $black;
    }
  }
}
#eventos{
  h3{
    color: black;
  }
  .evento{
    display: inline-block;
    padding: 1rem 1rem 1rem 1em;
    svg{
      display: none;
    }
    &:hover{  
      background-color: $light-bg;
    }
    h5{
      padding-top: 0.9rem;
      margin-bottom: 20px;
      .external{
        margin-left: 10px;
        font-size: 0.6rem;
      }
    }
    p{
      padding-top: 0;
      padding-bottom: 10px;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1;
    }
  }
}
.project{
  border-radius: 5px;
  display: inline-block;
  background-color: $light-bg;
  margin: 1rem;
  padding: 0.75rem;
  padding-top: 1.5rem;
  padding-left: 1rem;
  border-left: 6px solid;
  &#portugol{
    border-color: #d6c103;
  }
  &#nya{
    border-color: #ec0b56;
  }
  &#synt{
    border-color: #0aebc5;
  }
  &#castle{
    border-color: #e92f2f;
  }
  &#dali{
    border-color: #2374dd;
  }
}
footer{
  border-top: $primary solid 1px;  
  text-align: center;
  margin-top: 20px;
  padding: 50px;
  p{
    padding: 20px;
    .fa-code{
      color: #2374dd;
    }
    .fa-heart{
      color: #ec0b56;
    }
  }
  img{
    opacity: 0.6;
  }  
}
