section {
  display: block;
}

img {
  max-width: 100%;
  padding-top: 1.5rem;
}

.auroral-stars {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-attachment: fixed;
  -webkit-box-shadow: 147vw 29vh 0 2px rgba(255, 255, 255, 0.3), 28vw 7vh 0 2px rgba(255, 255, 255, 0.3), 50vw 6vh 0 1px rgba(255, 255, 255, 0.3), 64vw 26vh 0 1px rgba(255, 255, 255, 0.3), 25vw 14vh 0 1px rgba(255, 255, 255, 0.3), 94vw 10vh 0 1px rgba(255, 255, 255, 0.3), 56vw 46vh 0 1px rgba(255, 255, 255, 0.3), 53vw 6vh 0 1px rgba(255, 255, 255, 0.3), 51vw 6vh 0 1px rgba(255, 255, 255, 0.3), 81vw 13vh 0 1px rgba(255, 255, 255, 0.3), 19vw 34vh 0 1px rgba(255, 255, 255, 0.3), 40vw 5vh 0 2px rgba(255, 255, 255, 0.3), 74vw 9vh 0 2px rgba(255, 255, 255, 0.3), 92vw 11vh 0 2px rgba(255, 255, 255, 0.3), 11vw 13vh 0 1px rgba(255, 255, 255, 0.3), 33vw 46vh 0 2px rgba(255, 255, 255, 0.3), 13vw 20vh 0 2px rgba(255, 255, 255, 0.3), 68vw 12vh 0 1px rgba(255, 255, 255, 0.3), 36vw 3vh 0 2px rgba(255, 255, 255, 0.3), 72vw 29vh 0 2px rgba(255, 255, 255, 0.3), 80vw 34vh 0 1px rgba(255, 255, 255, 0.3), 93vw 18vh 0 1px rgba(255, 255, 255, 0.3), 46vw 35vh 0 2px rgba(255, 255, 255, 0.3), 83vw 34vh 0 1px rgba(255, 255, 255, 0.3), 22vw 39vh 0 1px rgba(255, 255, 255, 0.3), 58vw 42vh 0 1px rgba(255, 255, 255, 0.3), 31vw 38vh 0 2px rgba(255, 255, 255, 0.3), 26vw 39vh 0 1px rgba(255, 255, 255, 0.3), 18vw 25vh 0 1px rgba(255, 255, 255, 0.3), 27vw 48vh 0 2px rgba(255, 255, 255, 0.3), 27vw 30vh 0 0 rgba(255, 255, 255, 0.3);
          box-shadow: 147vw 29vh 0 2px rgba(255, 255, 255, 0.3), 28vw 7vh 0 2px rgba(255, 255, 255, 0.3), 50vw 6vh 0 1px rgba(255, 255, 255, 0.3), 64vw 26vh 0 1px rgba(255, 255, 255, 0.3), 25vw 14vh 0 1px rgba(255, 255, 255, 0.3), 94vw 10vh 0 1px rgba(255, 255, 255, 0.3), 56vw 46vh 0 1px rgba(255, 255, 255, 0.3), 53vw 6vh 0 1px rgba(255, 255, 255, 0.3), 51vw 6vh 0 1px rgba(255, 255, 255, 0.3), 81vw 13vh 0 1px rgba(255, 255, 255, 0.3), 19vw 34vh 0 1px rgba(255, 255, 255, 0.3), 40vw 5vh 0 2px rgba(255, 255, 255, 0.3), 74vw 9vh 0 2px rgba(255, 255, 255, 0.3), 92vw 11vh 0 2px rgba(255, 255, 255, 0.3), 11vw 13vh 0 1px rgba(255, 255, 255, 0.3), 33vw 46vh 0 2px rgba(255, 255, 255, 0.3), 13vw 20vh 0 2px rgba(255, 255, 255, 0.3), 68vw 12vh 0 1px rgba(255, 255, 255, 0.3), 36vw 3vh 0 2px rgba(255, 255, 255, 0.3), 72vw 29vh 0 2px rgba(255, 255, 255, 0.3), 80vw 34vh 0 1px rgba(255, 255, 255, 0.3), 93vw 18vh 0 1px rgba(255, 255, 255, 0.3), 46vw 35vh 0 2px rgba(255, 255, 255, 0.3), 83vw 34vh 0 1px rgba(255, 255, 255, 0.3), 22vw 39vh 0 1px rgba(255, 255, 255, 0.3), 58vw 42vh 0 1px rgba(255, 255, 255, 0.3), 31vw 38vh 0 2px rgba(255, 255, 255, 0.3), 26vw 39vh 0 1px rgba(255, 255, 255, 0.3), 18vw 25vh 0 1px rgba(255, 255, 255, 0.3), 27vw 48vh 0 2px rgba(255, 255, 255, 0.3), 27vw 30vh 0 0 rgba(255, 255, 255, 0.3);
}

.auroral-northern {
  background: linear-gradient(10deg, #a1d9b4 10%, #32988a 15%, #000e3c 70%);
  background-attachment: fixed;
}

h1 {
  overflow: hidden;
  text-align: center;
}

h1:before, h1:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}

h1:before {
  right: 2em;
  margin-left: -10%;
}

h1:after {
  left: 2em;
  margin-right: -10%;
}

#header {
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
}

.project {
  padding-left: 2rem;
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 500px) {
  .desktop-only {
    display: inline-block;
  }
}

.navbar #brand {
  color: #095a64;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  padding: 0;
  margin: 0;
}

.navbar #brand.active {
  padding-right: 4rem;
}

.navbar .brand-list {
  width: 50%;
}

.navbar .navbar-right {
  width: 100%;
  right: 0;
  text-align: right;
}

.navbar .navbar-right .navbar-link {
  display: inline-block;
  right: 0;
  font-size: 25px;
}

a {
  color: #095a64;
}

a:hover {
  color: #32988a !important;
}

footer {
  border-top: #ccc solid 1px;
  text-align: right;
  margin-top: 20px;
}

footer p {
  padding: 50px;
}
/*# sourceMappingURL=style.css.map */