@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  margin: 0;
  color: #474747;
  font-weight: 500;
  background-image: url("./img/header.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

section {
  display: block;
  padding: 2% 15%;
}

h1, h2, h3, h4 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

h1 {
  color: #000;
}

.nav {
  padding: 5% 10%;
  padding-bottom: 1%;
}

.nav img {
  background: #fff;
  padding: 0.5rem;
  border-radius: 20px;
}

.header h1 {
  line-height: 1.2;
  font-size: 3.5rem;
  letter-spacing: -2px;
}

a {
  color: #000e3c;
}

a:hover {
  color: #0026a2;
}

.rolltop {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 20px;
  padding: 20px;
  border-radius: 20px 0 0 20px;
}

.rolltop .icontop {
  display: block;
  font-size: 1.5rem;
  color: #000;
  opacity: 0.5;
}

.rolltop .icontop:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .rolltop {
    bottom: 30px;
    padding: 30px;
  }
}

.social {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 10;
  position: fixed;
  right: 0;
  background-color: #000;
  top: 30px;
  padding: 5px 10px;
  padding-right: 10px;
  border-radius: 20px 0 0 20px;
}

.social:hover {
  padding-right: 20px;
}

.social .social-link {
  display: block;
  font-size: 1.5rem;
  color: #fff;
}

.social .social-link:hover .fa-github {
  color: #ccc;
}

.social .social-link:hover .fa-twitter {
  color: #1da1f2;
}

.social .social-link:hover .fa-linkedin-in {
  color: #0073b1;
}

@media (min-width: 768px) {
  .social {
    top: 30px;
    padding: 10px 20px;
    padding-right: 20px;
  }
  .social:hover {
    padding-right: 40px;
  }
  .social .social-link {
    font-size: 2.5rem;
  }
}

#intro {
  padding-top: 5rem;
}

#intro .bg-light {
  background-color: #f2f2f2 !important;
  padding: 5%;
}

#intro .bg-light h3 {
  color: #000;
}

#eventos h3 {
  color: black;
}

#eventos .evento {
  display: inline-block;
  padding: 1rem 1rem 1rem 1em;
}

#eventos .evento svg {
  display: none;
}

#eventos .evento:hover {
  background-color: #f2f2f2;
}

#eventos .evento h5 {
  padding-top: 0.9rem;
  margin-bottom: 20px;
}

#eventos .evento h5 .external {
  margin-left: 10px;
  font-size: 0.6rem;
}

#eventos .evento p {
  padding-top: 0;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.project {
  border-radius: 5px;
  display: inline-block;
  background-color: #f2f2f2;
  margin: 1rem;
  padding: 0.75rem;
  padding-top: 1.5rem;
  padding-left: 1rem;
  border-left: 6px solid;
}

.project#portugol {
  border-color: #d6c103;
}

.project#nya {
  border-color: #ec0b56;
}

.project#synt {
  border-color: #0aebc5;
}

.project#castle {
  border-color: #e92f2f;
}

.project#dali {
  border-color: #2374dd;
}

footer {
  border-top: #000e3c solid 1px;
  text-align: center;
  margin-top: 20px;
  padding: 50px;
}

footer p {
  padding: 20px;
}

footer p .fa-code {
  color: #2374dd;
}

footer p .fa-heart {
  color: #ec0b56;
}

footer img {
  opacity: 0.6;
}
/*# sourceMappingURL=styles.css.map */