$star-number: 30;
$current-stars: 1;

section{
  display: block;
}
img{
  max-width: 100%;
  padding-top: 1.5rem;
}
.auroral-stars {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;

  @while $star-number > 0 {
    $current-stars: $current-stars + (random(100) +vw) (random(50) +vh) 0 (random(2) +px) rgba(255,255,255,.3) + unquote(", ");
    @if $star-number == 1 {
      $current-stars: $current-stars + (random(100) +vw) (random(50) +vh) 0 0 rgba(255,255,255,.3);
      box-shadow: $current-stars;
    }
    $star-number: $star-number - 1;
  }
}

.auroral-northern {
  background: linear-gradient(10deg, #a1d9b4 10%, #32988a 15%, #000e3c 70%);
}
h1{
  overflow: hidden;
  text-align: center;
   
  
  &:before, &:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 20%;
  }
  &:before {
    right: 2em;
    margin-left: -10%;
  }

  &:after {
    left: 2em;
    margin-right: -10%;
  }
}
#header{
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
}
.project{
  padding-left: 2rem;
}
.navbar{
  #brand{
    color: #095a64;
    transition-duration: 1.5s;
    padding: 0;
    margin: 0;
    &.active{    
      padding-right: 4rem; 
    }
  }
  .brand-list{
    width: 20%;
  }
  .navbar-right{
    width: 100%;
    right: 0;
    text-align: right;
    .navbar-link{
      display: inline-block;
      right: 0;
      font-size: 25px;
    }    
  }  
}

a{
  color: #095a64;
  &:hover{
    color: #32988a !important;
  }
}

footer{
  border-top: #ccc solid 1px;  
  text-align: right;
  margin-top: 20px;
  p{
    padding: 50px;
  }
}