section {
  display: block;
}

img {
  max-width: 100%;
  padding-top: 1.5rem;
}

.auroral-stars {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 159vw 27vh 0 2px rgba(255, 255, 255, 0.3), 32vw 19vh 0 1px rgba(255, 255, 255, 0.3), 30vw 15vh 0 2px rgba(255, 255, 255, 0.3), 72vw 6vh 0 2px rgba(255, 255, 255, 0.3), 74vw 1vh 0 2px rgba(255, 255, 255, 0.3), 87vw 2vh 0 1px rgba(255, 255, 255, 0.3), 79vw 20vh 0 1px rgba(255, 255, 255, 0.3), 36vw 29vh 0 1px rgba(255, 255, 255, 0.3), 13vw 25vh 0 2px rgba(255, 255, 255, 0.3), 36vw 38vh 0 2px rgba(255, 255, 255, 0.3), 17vw 49vh 0 1px rgba(255, 255, 255, 0.3), 40vw 24vh 0 1px rgba(255, 255, 255, 0.3), 21vw 41vh 0 1px rgba(255, 255, 255, 0.3), 95vw 19vh 0 2px rgba(255, 255, 255, 0.3), 62vw 13vh 0 1px rgba(255, 255, 255, 0.3), 4vw 36vh 0 1px rgba(255, 255, 255, 0.3), 78vw 25vh 0 2px rgba(255, 255, 255, 0.3), 53vw 9vh 0 1px rgba(255, 255, 255, 0.3), 79vw 14vh 0 2px rgba(255, 255, 255, 0.3), 39vw 17vh 0 1px rgba(255, 255, 255, 0.3), 51vw 3vh 0 2px rgba(255, 255, 255, 0.3), 27vw 24vh 0 1px rgba(255, 255, 255, 0.3), 78vw 6vh 0 1px rgba(255, 255, 255, 0.3), 11vw 33vh 0 1px rgba(255, 255, 255, 0.3), 31vw 21vh 0 2px rgba(255, 255, 255, 0.3), 92vw 2vh 0 1px rgba(255, 255, 255, 0.3), 86vw 29vh 0 2px rgba(255, 255, 255, 0.3), 94vw 25vh 0 2px rgba(255, 255, 255, 0.3), 82vw 34vh 0 1px rgba(255, 255, 255, 0.3), 92vw 50vh 0 1px rgba(255, 255, 255, 0.3), 27vw 32vh 0 0 rgba(255, 255, 255, 0.3);
          box-shadow: 159vw 27vh 0 2px rgba(255, 255, 255, 0.3), 32vw 19vh 0 1px rgba(255, 255, 255, 0.3), 30vw 15vh 0 2px rgba(255, 255, 255, 0.3), 72vw 6vh 0 2px rgba(255, 255, 255, 0.3), 74vw 1vh 0 2px rgba(255, 255, 255, 0.3), 87vw 2vh 0 1px rgba(255, 255, 255, 0.3), 79vw 20vh 0 1px rgba(255, 255, 255, 0.3), 36vw 29vh 0 1px rgba(255, 255, 255, 0.3), 13vw 25vh 0 2px rgba(255, 255, 255, 0.3), 36vw 38vh 0 2px rgba(255, 255, 255, 0.3), 17vw 49vh 0 1px rgba(255, 255, 255, 0.3), 40vw 24vh 0 1px rgba(255, 255, 255, 0.3), 21vw 41vh 0 1px rgba(255, 255, 255, 0.3), 95vw 19vh 0 2px rgba(255, 255, 255, 0.3), 62vw 13vh 0 1px rgba(255, 255, 255, 0.3), 4vw 36vh 0 1px rgba(255, 255, 255, 0.3), 78vw 25vh 0 2px rgba(255, 255, 255, 0.3), 53vw 9vh 0 1px rgba(255, 255, 255, 0.3), 79vw 14vh 0 2px rgba(255, 255, 255, 0.3), 39vw 17vh 0 1px rgba(255, 255, 255, 0.3), 51vw 3vh 0 2px rgba(255, 255, 255, 0.3), 27vw 24vh 0 1px rgba(255, 255, 255, 0.3), 78vw 6vh 0 1px rgba(255, 255, 255, 0.3), 11vw 33vh 0 1px rgba(255, 255, 255, 0.3), 31vw 21vh 0 2px rgba(255, 255, 255, 0.3), 92vw 2vh 0 1px rgba(255, 255, 255, 0.3), 86vw 29vh 0 2px rgba(255, 255, 255, 0.3), 94vw 25vh 0 2px rgba(255, 255, 255, 0.3), 82vw 34vh 0 1px rgba(255, 255, 255, 0.3), 92vw 50vh 0 1px rgba(255, 255, 255, 0.3), 27vw 32vh 0 0 rgba(255, 255, 255, 0.3);
}

.auroral-northern {
  background: linear-gradient(10deg, #a1d9b4 10%, #32988a 15%, #000e3c 70%);
}

h1 {
  overflow: hidden;
  text-align: center;
}

h1:before, h1:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}

h1:before {
  right: 2em;
  margin-left: -10%;
}

h1:after {
  left: 2em;
  margin-right: -10%;
}

#header {
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
}

.project {
  padding-left: 2rem;
}

.navbar #brand {
  color: #095a64;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  padding: 0;
  margin: 0;
}

.navbar #brand.active {
  padding-right: 4rem;
}

.navbar .brand-list {
  width: 20%;
}

.navbar .navbar-right {
  width: 100%;
  right: 0;
  text-align: right;
}

.navbar .navbar-right .navbar-link {
  display: inline-block;
  right: 0;
  font-size: 25px;
}

a {
  color: #095a64;
}

a:hover {
  color: #32988a !important;
}

footer {
  border-top: #ccc solid 1px;
  text-align: right;
  margin-top: 20px;
}

footer p {
  padding: 50px;
}
/*# sourceMappingURL=style.css.map */