
$breakpoint-tablet: 768px;

$cinza: #eee;
$dark-purple: #1a144a;
$purple: #3b3478;
$pink: #DA627D;
$light-pink: #E100FF;
$dark: #222;
$white: #fff;

$roundness: 10px;
html,body{
    background-color: $white;
    color: $dark;
}
body {
  overflow:hidden;
}
a{
  color: $purple;
  &:hover{
    color: $dark-purple;
  }
}
.bubbles{
  position: absolute;
  width: 100%;
  top: -500px;
  left: 0;
  .b1{
    position: absolute;
    margin-left: -10%;
    margin-top: 125px;
  }
  .b2{
    position: absolute;
    margin-top: 150px;
    margin-left: 70%;
  }
  .b3{
    position: absolute;
    margin-top: 500px;
    right: 10%;
  }
}
section{
  .image-column{
    text-align: center;
  }
  h3{
    font-size: 1.3rem;
    font-weight: bold;
  }
  .title{
    span{
      font-size: 1rem;
    }
  }
  &.hero{
    @media screen and (min-width: 800px) {
      margin-top: 80px;
    }
    
    .social{
      .social-link{
        margin-right: 10px;
        font-size: 1.5rem;
      }
    }
    .title, .subtitle{
      color: $dark;
    }
    .text-column{
      margin: 5%;
    }
    .image-column{
      text-align: center;
    }
    p{
      margin-top: 15px;
    }
  }
  &#projects{
    .project{
      margin: 2px;
      padding: 25px;
      border-radius: $roundness;
      background: linear-gradient(to bottom right, $dark-purple, $purple);
      color: #333;
      text-align: center;
      figure{
        text-align: center;
      }
      h3{
        text-align: left;
        margin-top: 25px;
        font-size: 1.6rem;
        color: $white;
      }
      p{
        text-align: left;
        color: $white;
      }
      opacity: .9;
      transition: .3s ease;
      &:hover{
        opacity: 1;
        transform: scale(1.05);
      }
      .icons{
        text-align: left;
        .icon{
          margin-right: 5px;
          
          color: $white;
          &:hover{
            color: $purple;
          }
          
        }
      }
      &#portugol{
        background: linear-gradient(to bottom right,#FFC200, #aa8302);
      }
      &#nya{
        background: linear-gradient(to bottom right, #c31432, #240b36);
      }
      &#snake{
        background: linear-gradient(to bottom right, #34e89e, #0f3443);
      }
      &#poro{
        background: linear-gradient(to bottom right, #3C3B3F, #605C3C);
      }
      &#ima{
        background: linear-gradient(to bottom right, #4350c6, #1c159c);
      }
      &#kni{
        background: linear-gradient(to bottom right, #333, #111);
      }
      &#dali{
        background: linear-gradient(to bottom right, #f7ff00, #db36a4);
      }
    }
  }
}

footer{
  text-align: right;
  padding-bottom: 50px;
  img{
    max-width: 100px;
  }
}
