section {
  display: block;
}

img {
  max-width: 100%;
  padding-top: 1.5rem;
}

.auroral-stars {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 160vw 6vh 0 2px rgba(255, 255, 255, 0.2), 64vw 7vh 0 2px rgba(255, 255, 255, 0.2), 8vw 33vh 0 1px rgba(255, 255, 255, 0.2), 8vw 21vh 0 1px rgba(255, 255, 255, 0.2), 78vw 36vh 0 1px rgba(255, 255, 255, 0.2), 22vw 41vh 0 2px rgba(255, 255, 255, 0.2), 58vw 17vh 0 2px rgba(255, 255, 255, 0.2), 43vw 26vh 0 1px rgba(255, 255, 255, 0.2), 51vw 3vh 0 1px rgba(255, 255, 255, 0.2), 93vw 35vh 0 1px rgba(255, 255, 255, 0.2), 60vw 44vh 0 2px rgba(255, 255, 255, 0.2), 1vw 5vh 0 2px rgba(255, 255, 255, 0.2), 46vw 49vh 0 1px rgba(255, 255, 255, 0.2), 63vw 42vh 0 1px rgba(255, 255, 255, 0.2), 26vw 3vh 0 1px rgba(255, 255, 255, 0.2), 99vw 27vh 0 2px rgba(255, 255, 255, 0.2), 75vw 27vh 0 1px rgba(255, 255, 255, 0.2), 82vw 9vh 0 1px rgba(255, 255, 255, 0.2), 22vw 49vh 0 1px rgba(255, 255, 255, 0.2), 87vw 8vh 0 1px rgba(255, 255, 255, 0.2), 50vw 12vh 0 2px rgba(255, 255, 255, 0.2), 80vw 43vh 0 1px rgba(255, 255, 255, 0.2), 11vw 3vh 0 2px rgba(255, 255, 255, 0.2), 68vw 42vh 0 1px rgba(255, 255, 255, 0.2), 99vw 16vh 0 1px rgba(255, 255, 255, 0.2), 82vw 43vh 0 2px rgba(255, 255, 255, 0.2), 22vw 42vh 0 1px rgba(255, 255, 255, 0.2), 42vw 9vh 0 2px rgba(255, 255, 255, 0.2), 92vw 35vh 0 1px rgba(255, 255, 255, 0.2), 46vw 38vh 0 1px rgba(255, 255, 255, 0.2), 34vw 3vh 0 1px rgba(255, 255, 255, 0.2), 79vw 31vh 0 2px rgba(255, 255, 255, 0.2), 41vw 2vh 0 2px rgba(255, 255, 255, 0.2), 10vw 37vh 0 1px rgba(255, 255, 255, 0.2), 99vw 39vh 0 2px rgba(255, 255, 255, 0.2), 16vw 36vh 0 2px rgba(255, 255, 255, 0.2), 100vw 23vh 0 2px rgba(255, 255, 255, 0.2), 80vw 13vh 0 1px rgba(255, 255, 255, 0.2), 97vw 33vh 0 1px rgba(255, 255, 255, 0.2), 16vw 14vh 0 1px rgba(255, 255, 255, 0.2), 26vw 33vh 0 2px rgba(255, 255, 255, 0.2), 80vw 2vh 0 2px rgba(255, 255, 255, 0.2), 97vw 14vh 0 2px rgba(255, 255, 255, 0.2), 24vw 38vh 0 1px rgba(255, 255, 255, 0.2), 14vw 14vh 0 2px rgba(255, 255, 255, 0.2), 39vw 14vh 0 1px rgba(255, 255, 255, 0.2), 68vw 27vh 0 1px rgba(255, 255, 255, 0.2), 7vw 44vh 0 1px rgba(255, 255, 255, 0.2), 79vw 45vh 0 2px rgba(255, 255, 255, 0.2), 5vw 34vh 0 2px rgba(255, 255, 255, 0.2), 45vw 36vh 0 2px rgba(255, 255, 255, 0.2), 61vw 36vh 0 2px rgba(255, 255, 255, 0.2), 99vw 43vh 0 1px rgba(255, 255, 255, 0.2), 90vw 3vh 0 2px rgba(255, 255, 255, 0.2), 72vw 48vh 0 2px rgba(255, 255, 255, 0.2), 64vw 33vh 0 2px rgba(255, 255, 255, 0.2), 82vw 38vh 0 2px rgba(255, 255, 255, 0.2), 86vw 47vh 0 1px rgba(255, 255, 255, 0.2), 1vw 14vh 0 2px rgba(255, 255, 255, 0.2), 17vw 45vh 0 2px rgba(255, 255, 255, 0.2), 53vw 19vh 0 1px rgba(255, 255, 255, 0.2), 53vw 38vh 0 1px rgba(255, 255, 255, 0.2), 83vw 48vh 0 1px rgba(255, 255, 255, 0.2), 60vw 13vh 0 1px rgba(255, 255, 255, 0.2), 78vw 14vh 0 1px rgba(255, 255, 255, 0.2), 47vw 48vh 0 2px rgba(255, 255, 255, 0.2), 48vw 23vh 0 1px rgba(255, 255, 255, 0.2), 15vw 31vh 0 2px rgba(255, 255, 255, 0.2), 91vw 33vh 0 2px rgba(255, 255, 255, 0.2), 32vw 21vh 0 2px rgba(255, 255, 255, 0.2), 70vw 48vh 0 2px rgba(255, 255, 255, 0.2), 100vw 12vh 0 2px rgba(255, 255, 255, 0.2), 74vw 45vh 0 1px rgba(255, 255, 255, 0.2), 87vw 21vh 0 1px rgba(255, 255, 255, 0.2), 97vw 40vh 0 1px rgba(255, 255, 255, 0.2), 53vw 13vh 0 2px rgba(255, 255, 255, 0.2), 9vw 43vh 0 1px rgba(255, 255, 255, 0.2), 85vw 35vh 0 1px rgba(255, 255, 255, 0.2), 82vw 43vh 0 2px rgba(255, 255, 255, 0.2), 27vw 24vh 0 2px rgba(255, 255, 255, 0.2), 80vw 10vh 0 1px rgba(255, 255, 255, 0.2), 36vw 8vh 0 2px rgba(255, 255, 255, 0.2), 64vw 5vh 0 1px rgba(255, 255, 255, 0.2), 9vw 26vh 0 2px rgba(255, 255, 255, 0.2), 80vw 36vh 0 2px rgba(255, 255, 255, 0.2), 44vw 39vh 0 1px rgba(255, 255, 255, 0.2), 78vw 27vh 0 2px rgba(255, 255, 255, 0.2), 100vw 29vh 0 1px rgba(255, 255, 255, 0.2), 39vw 41vh 0 1px rgba(255, 255, 255, 0.2), 68vw 45vh 0 2px rgba(255, 255, 255, 0.2), 16vw 2vh 0 1px rgba(255, 255, 255, 0.2), 38vw 19vh 0 1px rgba(255, 255, 255, 0.2), 29vw 21vh 0 2px rgba(255, 255, 255, 0.2), 85vw 36vh 0 1px rgba(255, 255, 255, 0.2), 8vw 30vh 0 1px rgba(255, 255, 255, 0.2), 37vw 20vh 0 1px rgba(255, 255, 255, 0.2), 15vw 16vh 0 2px rgba(255, 255, 255, 0.2), 65vw 29vh 0 2px rgba(255, 255, 255, 0.2), 80vw 1vh 0 1px rgba(255, 255, 255, 0.2), 52vw 12vh 0 1px rgba(255, 255, 255, 0.2), 99vw 2vh 0 0 rgba(255, 255, 255, 0.9);
          box-shadow: 160vw 6vh 0 2px rgba(255, 255, 255, 0.2), 64vw 7vh 0 2px rgba(255, 255, 255, 0.2), 8vw 33vh 0 1px rgba(255, 255, 255, 0.2), 8vw 21vh 0 1px rgba(255, 255, 255, 0.2), 78vw 36vh 0 1px rgba(255, 255, 255, 0.2), 22vw 41vh 0 2px rgba(255, 255, 255, 0.2), 58vw 17vh 0 2px rgba(255, 255, 255, 0.2), 43vw 26vh 0 1px rgba(255, 255, 255, 0.2), 51vw 3vh 0 1px rgba(255, 255, 255, 0.2), 93vw 35vh 0 1px rgba(255, 255, 255, 0.2), 60vw 44vh 0 2px rgba(255, 255, 255, 0.2), 1vw 5vh 0 2px rgba(255, 255, 255, 0.2), 46vw 49vh 0 1px rgba(255, 255, 255, 0.2), 63vw 42vh 0 1px rgba(255, 255, 255, 0.2), 26vw 3vh 0 1px rgba(255, 255, 255, 0.2), 99vw 27vh 0 2px rgba(255, 255, 255, 0.2), 75vw 27vh 0 1px rgba(255, 255, 255, 0.2), 82vw 9vh 0 1px rgba(255, 255, 255, 0.2), 22vw 49vh 0 1px rgba(255, 255, 255, 0.2), 87vw 8vh 0 1px rgba(255, 255, 255, 0.2), 50vw 12vh 0 2px rgba(255, 255, 255, 0.2), 80vw 43vh 0 1px rgba(255, 255, 255, 0.2), 11vw 3vh 0 2px rgba(255, 255, 255, 0.2), 68vw 42vh 0 1px rgba(255, 255, 255, 0.2), 99vw 16vh 0 1px rgba(255, 255, 255, 0.2), 82vw 43vh 0 2px rgba(255, 255, 255, 0.2), 22vw 42vh 0 1px rgba(255, 255, 255, 0.2), 42vw 9vh 0 2px rgba(255, 255, 255, 0.2), 92vw 35vh 0 1px rgba(255, 255, 255, 0.2), 46vw 38vh 0 1px rgba(255, 255, 255, 0.2), 34vw 3vh 0 1px rgba(255, 255, 255, 0.2), 79vw 31vh 0 2px rgba(255, 255, 255, 0.2), 41vw 2vh 0 2px rgba(255, 255, 255, 0.2), 10vw 37vh 0 1px rgba(255, 255, 255, 0.2), 99vw 39vh 0 2px rgba(255, 255, 255, 0.2), 16vw 36vh 0 2px rgba(255, 255, 255, 0.2), 100vw 23vh 0 2px rgba(255, 255, 255, 0.2), 80vw 13vh 0 1px rgba(255, 255, 255, 0.2), 97vw 33vh 0 1px rgba(255, 255, 255, 0.2), 16vw 14vh 0 1px rgba(255, 255, 255, 0.2), 26vw 33vh 0 2px rgba(255, 255, 255, 0.2), 80vw 2vh 0 2px rgba(255, 255, 255, 0.2), 97vw 14vh 0 2px rgba(255, 255, 255, 0.2), 24vw 38vh 0 1px rgba(255, 255, 255, 0.2), 14vw 14vh 0 2px rgba(255, 255, 255, 0.2), 39vw 14vh 0 1px rgba(255, 255, 255, 0.2), 68vw 27vh 0 1px rgba(255, 255, 255, 0.2), 7vw 44vh 0 1px rgba(255, 255, 255, 0.2), 79vw 45vh 0 2px rgba(255, 255, 255, 0.2), 5vw 34vh 0 2px rgba(255, 255, 255, 0.2), 45vw 36vh 0 2px rgba(255, 255, 255, 0.2), 61vw 36vh 0 2px rgba(255, 255, 255, 0.2), 99vw 43vh 0 1px rgba(255, 255, 255, 0.2), 90vw 3vh 0 2px rgba(255, 255, 255, 0.2), 72vw 48vh 0 2px rgba(255, 255, 255, 0.2), 64vw 33vh 0 2px rgba(255, 255, 255, 0.2), 82vw 38vh 0 2px rgba(255, 255, 255, 0.2), 86vw 47vh 0 1px rgba(255, 255, 255, 0.2), 1vw 14vh 0 2px rgba(255, 255, 255, 0.2), 17vw 45vh 0 2px rgba(255, 255, 255, 0.2), 53vw 19vh 0 1px rgba(255, 255, 255, 0.2), 53vw 38vh 0 1px rgba(255, 255, 255, 0.2), 83vw 48vh 0 1px rgba(255, 255, 255, 0.2), 60vw 13vh 0 1px rgba(255, 255, 255, 0.2), 78vw 14vh 0 1px rgba(255, 255, 255, 0.2), 47vw 48vh 0 2px rgba(255, 255, 255, 0.2), 48vw 23vh 0 1px rgba(255, 255, 255, 0.2), 15vw 31vh 0 2px rgba(255, 255, 255, 0.2), 91vw 33vh 0 2px rgba(255, 255, 255, 0.2), 32vw 21vh 0 2px rgba(255, 255, 255, 0.2), 70vw 48vh 0 2px rgba(255, 255, 255, 0.2), 100vw 12vh 0 2px rgba(255, 255, 255, 0.2), 74vw 45vh 0 1px rgba(255, 255, 255, 0.2), 87vw 21vh 0 1px rgba(255, 255, 255, 0.2), 97vw 40vh 0 1px rgba(255, 255, 255, 0.2), 53vw 13vh 0 2px rgba(255, 255, 255, 0.2), 9vw 43vh 0 1px rgba(255, 255, 255, 0.2), 85vw 35vh 0 1px rgba(255, 255, 255, 0.2), 82vw 43vh 0 2px rgba(255, 255, 255, 0.2), 27vw 24vh 0 2px rgba(255, 255, 255, 0.2), 80vw 10vh 0 1px rgba(255, 255, 255, 0.2), 36vw 8vh 0 2px rgba(255, 255, 255, 0.2), 64vw 5vh 0 1px rgba(255, 255, 255, 0.2), 9vw 26vh 0 2px rgba(255, 255, 255, 0.2), 80vw 36vh 0 2px rgba(255, 255, 255, 0.2), 44vw 39vh 0 1px rgba(255, 255, 255, 0.2), 78vw 27vh 0 2px rgba(255, 255, 255, 0.2), 100vw 29vh 0 1px rgba(255, 255, 255, 0.2), 39vw 41vh 0 1px rgba(255, 255, 255, 0.2), 68vw 45vh 0 2px rgba(255, 255, 255, 0.2), 16vw 2vh 0 1px rgba(255, 255, 255, 0.2), 38vw 19vh 0 1px rgba(255, 255, 255, 0.2), 29vw 21vh 0 2px rgba(255, 255, 255, 0.2), 85vw 36vh 0 1px rgba(255, 255, 255, 0.2), 8vw 30vh 0 1px rgba(255, 255, 255, 0.2), 37vw 20vh 0 1px rgba(255, 255, 255, 0.2), 15vw 16vh 0 2px rgba(255, 255, 255, 0.2), 65vw 29vh 0 2px rgba(255, 255, 255, 0.2), 80vw 1vh 0 1px rgba(255, 255, 255, 0.2), 52vw 12vh 0 1px rgba(255, 255, 255, 0.2), 99vw 2vh 0 0 rgba(255, 255, 255, 0.9);
}

.auroral-northern {
  background: linear-gradient(10deg, #a1d9b4 10%, #32988a 15%, #000e3c 70%);
}

h1 {
  overflow: hidden;
  text-align: center;
}

h1:before, h1:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}

h1:before {
  right: 2em;
  margin-left: -10%;
}

h1:after {
  left: 2em;
  margin-right: -10%;
}

#header {
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
}

.project {
  padding-left: 2rem;
}

.navbar #brand {
  color: #095a64;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  padding: 0;
  margin: 0;
}

.navbar #brand.active {
  padding-right: 4rem;
}

.navbar .brand-list {
  width: 20%;
}

.navbar .navbar-right {
  width: 100%;
  right: 0;
  text-align: right;
}

.navbar .navbar-right .navbar-link {
  display: inline-block;
  right: 0;
  font-size: 25px;
}

a {
  color: #095a64;
}

a:hover {
  color: #32988a !important;
}

footer {
  border-top: #ccc solid 1px;
  text-align: right;
  margin-top: 20px;
}

footer p {
  padding: 50px;
}
/*# sourceMappingURL=style.css.map */