$azul: #200228;
$azulclaro: #22045A;
$pink: #f3558e;
$purple: #581b98;
$branco: #fff;
$roundness: 10px;
$preto: #000;

a{
  color: $pink !important;
  &:hover{
    color: $purple !important;
  }
}
.section{
  padding: 1rem 1rem;
  @media screen and (min-width: 800px) {
    padding: 1rem 7rem;
  }
}
.social{
  .social-link{
    margin-right: 10px;
    font-size: 1.5rem;
    transition: .2s ease;
    &:hover{
    }
  }
}
#talks{
  .talks{
    .talk-frame{
      display: inline-block;
      margin: 1rem;
      
      .talk{
        border-radius: $roundness;
        
        background-size: cover;
        background-position: center;

        transition: .3s ease;
        &:hover{
          transform: scale(1.1);
          h3{
            backdrop-filter: blur(1px);
          }
        }
        h3{
          border-radius: $roundness;
          backdrop-filter: blur(0px);
          padding: 1rem 2rem;
          color: $branco;
          font-size: 1.5rem;
        }
      }
    }
    
  }
}
#projects, #posts{
  .tiltcontainer{
    @media screen and (min-width: 800px) {
      padding: 5px;
    }

    text-align: center;
  }
  .tiltframe{
    display: inline-block;
    @media screen and (min-width: 800px) {
      padding-top: 20px;
      padding: 20px;
    }
  }
  .project{
    padding: 20px;
    border-radius: $roundness;
    background: $branco;
    transition: opacity .5s ease-out;
    h3{
      font-size: 1.2rem;
      color: $branco !important;
    }
  }
  .post{
    background-color: $purple;
    padding: 20px;
    border-radius: $roundness;
    transition: opacity .5s ease-out;
    h3{
      font-size: 1.3rem;
      color: $branco !important;
    }
  }
}
#hero{
  padding-top: 3rem;
  .title{
    font-size: 2.5rem;
  }
  .subtitle{
    font-size: 1rem;
  }
  p{
    margin: 1rem 0;
  }
}