$azul: #200228;
$azulclaro: #22045A;
$pink: #f3558e;
$purple: #581b98;
$branco: #fff;
$roundness: 10px;
$preto: #000;

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body{
  font-family: 'Karla', sans-serif;
}
a{
  color: $pink !important;
  &:hover{
    color: $purple !important;
  }
}
.section{
  padding: 1rem 1rem;
  @media screen and (min-width: 800px) {
    padding: 1rem 7rem;
  }
}
.social{
  
  .social-link{
    margin-right: 10px;
    font-size: 1.5rem;
    transition: .2s ease;
    &:hover{
    }
  }
  &.inpost{
    position: fixed;
    @media (max-width: 835px) {
      display: none;
      left: 2rem;
      top: 2rem;
      .social-link{
        display: inline-block;
      }
      a{
        margin-bottom: 0;
        padding-bottom: 0;
      }
      background-color: $branco;
      padding: 7px 2px 2px 7px ;
      margin-bottom: 0;
      border-radius: $roundness;
    }
    
    
    @media (min-width: 835px) {
      right: 2rem;
      top: 8rem;
      .social-link{
        display: block;
      }
    }
    
    
  }
}
#pictures{
  .pictures{
    .picture-frame{
      display: inline-block;
      margin: 1rem;
      
      .picture{
        border-radius: $roundness;

        transition: .3s ease;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
    
  }
}
#talks{
  .talks{
    .talk-frame{
      display: inline-block;
      margin: 1rem;
      
      .talk{
        border-radius: $roundness;
        
        background-size: cover;
        background-position: center;

        transition: .3s ease;
        &:hover{
          transform: scale(1.1);
          h3{
          }
        }
        h3{
          border-radius: $roundness;
          padding: 1rem 2rem;
          color: $branco;
          font-size: 1.5rem;
        }
      }
    }
    
  }
}

#posts{
  .postcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .card{
      border-radius: $roundness;
      height: 280px;
      width: 250px;
      margin: 20px;
      transition: .3s ease-out;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

      .card-content{
        padding-top: 0.5rem;
        h3{
          font-size: 1.2rem;
        }
      }
      &:hover{
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
        transform: scale(1.08);
      }
      img{
        border-radius: $roundness $roundness 0 0;
      }
    }
  }
  
  .postframe{
    display: inline-block;
    width: 300px;
    max-width: 300px;
    margin: 10px;
    
    .post{
      border-radius: $roundness;
      background: $branco;
      transition: opacity .5s ease-out;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      &:hover{
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
      }

      h3{
        font-size: 1.2rem;
        color: $preto !important;
        padding: 20px;
      }
    }
  }
  
}
#projects{
  .tiltcontainer{
    @media screen and (min-width: 800px) {
      padding: 5px;
    }

    text-align: center;
  }
  .tiltframe{
    display: inline-block;
    @media screen and (min-width: 800px) {
      padding-top: 20px;
      padding: 20px;
    }
    
  }
  
  .project{
    padding: 20px;
    border-radius: $roundness;
    background: $branco;
    transition: opacity .5s ease-out;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    &:hover{
      box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
    }
    h3{
      font-size: 1.2rem;
      color: $branco !important;
    }
  }
  
}
#hero{
  padding-top: 3rem;
  @media (min-width: 835px) {
    padding-top: 5rem;
  }
  .title{
    font-size: 5rem;
  }
  .subtitle{
    font-size: 1.5rem;
  }
  p{
    margin: 1rem 0;
    font-size: 1.2rem;
  }
}
