  
$azul: #200228;
$azulclaro: #22045A;
$pink: #D711B8;
$purple: #6C289F;
$branco: #fff;
$roundness: 10px;
$preto: #000;


.fixed{
  position: fixed;
  background: linear-gradient(to bottom right, $azul,$azulclaro);
  width: 100%;
  height: 100vh;
  z-index: -10;
  margin: 0;
  padding: 0;
}
.hero{
  
  background-attachment: fixed;
  .hero-body{
    padding: 10px 0 100px 0;
  }
  .title, .subtitle{
    text-align: center;
    color: $branco;
  }
}
section{
  padding: 1rem 1rem;
  @media screen and (min-width: 800px) {
    padding: 1rem 3rem;
  }
  
  .title{
    color: $branco;
  }
}
.projects{
  .tiltcontainer{
    @media screen and (min-width: 800px) {
      padding: 5px;
    }
    text-align: center;
  }
  .tiltframe{
    display: inline-block;
    @media screen and (min-width: 800px) {
      padding: 15px;
    }
    
    .Tilt{
      
    }
  }
  .project{
    padding: 20px;
    border-radius: $roundness;
    background: $branco;
    transition: opacity .5s ease-out;
    h3{
      text-align: center;
      color: $branco;
      font-size: 1.3rem;
    }
    &:hover{
      
    }
  }
}
.about{
  padding: 20px 5%;
  @media screen and (min-width: 800px) {
    padding: 20px 15%;
  }
  
  .about-container{
    background-color: fade-out($color: $branco, $amount: .15);
    border-radius: $roundness;

    font-size: 1.1rem;
    padding: 3rem;
    @media screen and (min-width: 800px) {
      font-size: 1.5rem;
    }
    
    color: $azul;
    p{
      margin-bottom: 1rem;
    }
  }
}