a {
  color: #f3558e !important;
}

a:hover {
  color: #581b98 !important;
}

.section {
  padding: 1rem 1rem;
}

@media screen and (min-width: 800px) {
  .section {
    padding: 1rem 7rem;
  }
}

.social .social-link {
  margin-right: 10px;
  font-size: 1.5rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.social.inpost {
  position: fixed;
  background-color: #fff;
}

@media (max-width: 835px) {
  .social.inpost {
    left: 2rem;
    top: 2.5rem;
  }
  .social.inpost .social-link {
    display: inline-block;
  }
}

@media (min-width: 835px) {
  .social.inpost {
    right: 2rem;
    top: 8rem;
  }
  .social.inpost .social-link {
    display: block;
  }
}

#pictures .pictures .picture-frame {
  display: inline-block;
  margin: 1rem;
}

#pictures .pictures .picture-frame .picture {
  border-radius: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#pictures .pictures .picture-frame .picture:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#talks .talks .talk-frame {
  display: inline-block;
  margin: 1rem;
}

#talks .talks .talk-frame .talk {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#talks .talks .talk-frame .talk:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#talks .talks .talk-frame .talk h3 {
  border-radius: 10px;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.5rem;
}

#posts .post-container .post {
  margin: 0;
  display: inline-block;
  padding: 1rem;
}

#posts .post-container .post .box {
  padding: 20px;
}

#posts .post-container .post .box .img {
  display: inline-block;
  width: 50px;
}

#posts .post-container .post .box .text {
  display: inline-block;
}

#posts .post-container .post h3 {
  font-size: 1.4rem;
}

#projects .tiltcontainer, #posts .tiltcontainer {
  text-align: center;
}

@media screen and (min-width: 800px) {
  #projects .tiltcontainer, #posts .tiltcontainer {
    padding: 5px;
  }
}

#projects .tiltframe, #posts .tiltframe {
  display: inline-block;
}

@media screen and (min-width: 800px) {
  #projects .tiltframe, #posts .tiltframe {
    padding-top: 20px;
    padding: 20px;
  }
}

#projects .post, #posts .post {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#projects .post:hover, #posts .post:hover {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

#projects .post h3, #posts .post h3 {
  font-size: 1.2rem;
  color: #000 !important;
}

#projects .project, #posts .project {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#projects .project:hover, #posts .project:hover {
  -webkit-box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
}

#projects .project h3, #posts .project h3 {
  font-size: 1.2rem;
  color: #fff !important;
}

#hero {
  padding-top: 3rem;
}

#hero .title {
  font-size: 2.5rem;
}

#hero .subtitle {
  font-size: 1rem;
}

#hero p {
  margin: 1rem 0;
}
/*# sourceMappingURL=style.css.map */