@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
body {
  font-family: 'Karla', sans-serif;
}

a {
  color: #f3558e !important;
}

a:hover {
  color: #581b98 !important;
}

.section {
  padding: 1rem 1rem;
}

@media screen and (min-width: 800px) {
  .section {
    padding: 1rem 7rem;
  }
}

.social .social-link {
  margin-right: 10px;
  font-size: 1.5rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.social.inpost {
  position: fixed;
}

@media (max-width: 835px) {
  .social.inpost {
    display: none;
    left: 2rem;
    top: 2rem;
    background-color: #fff;
    padding: 7px 2px 2px 7px;
    margin-bottom: 0;
    border-radius: 10px;
  }
  .social.inpost .social-link {
    display: inline-block;
  }
  .social.inpost a {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 835px) {
  .social.inpost {
    right: 2rem;
    top: 8rem;
  }
  .social.inpost .social-link {
    display: block;
  }
}

#pictures .pictures .picture-frame {
  display: inline-block;
  margin: 1rem;
}

#pictures .pictures .picture-frame .picture {
  border-radius: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#pictures .pictures .picture-frame .picture:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#talks .talks .talk-frame {
  display: inline-block;
  margin: 1rem;
}

#talks .talks .talk-frame .talk {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#talks .talks .talk-frame .talk:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#talks .talks .talk-frame .talk h3 {
  border-radius: 10px;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.5rem;
}

#posts .postcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#posts .postcontainer .card {
  border-radius: 10px;
  height: 280px;
  width: 250px;
  margin: 20px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#posts .postcontainer .card .card-content {
  padding-top: 0.5rem;
}

#posts .postcontainer .card .card-content h3 {
  font-size: 1.2rem;
}

#posts .postcontainer .card:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

#posts .postcontainer .card img {
  border-radius: 10px 10px 0 0;
}

#posts .postframe {
  display: inline-block;
  width: 300px;
  max-width: 300px;
  margin: 10px;
}

#posts .postframe .post {
  border-radius: 10px;
  background: #fff;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#posts .postframe .post:hover {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

#posts .postframe .post h3 {
  font-size: 1.2rem;
  color: #000 !important;
  padding: 20px;
}

#projects .tiltcontainer {
  text-align: center;
}

@media screen and (min-width: 800px) {
  #projects .tiltcontainer {
    padding: 5px;
  }
}

#projects .tiltframe {
  display: inline-block;
}

@media screen and (min-width: 800px) {
  #projects .tiltframe {
    padding-top: 20px;
    padding: 20px;
  }
}

#projects .project {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#projects .project:hover {
  -webkit-box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
}

#projects .project h3 {
  font-size: 1.2rem;
  color: #fff !important;
}

#hero {
  padding-top: 3rem;
}

@media (min-width: 835px) {
  #hero {
    padding-top: 5rem;
  }
}

#hero .title {
  font-size: 5rem;
}

#hero .subtitle {
  font-size: 1.5rem;
}

#hero p {
  margin: 1rem 0;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */